div#board {
  position: relative;
  width: 800px;
  height: 800px;
  margin: 50px auto;
}

div#messageArea {
  position: absolute;
  top: -34px;
  left: 0;
  margin: 0 auto;
  color: #000000;
  font-size: 25px;
}

table {
  position: absolute;
  left: 24px;
  top: 64px;
  border-spacing: 0px;
  border: 1px solid red;
}

td {
  width: 67px;
  height: 69px;
  border: 1px solid red;
}

form {
  position: absolute;
  bottom: -79px;
  right: 246px;
  padding: 15px;
  background-color: #53af13;
}

input {
  background-color: #98cf71;
  border-color: #53af13;
  font-size: 20px;
}

.hit {
  background: url("../images/ship.png") no-repeat center center;
  background-size: cover;
}

.miss {
  background: url("../images/miss.png") no-repeat center center;
  background-size: cover;
}